
.cart{
    display: grid;
    grid-template-columns: 1fr 50px;
    margin-top: 50px;
}
.cart .shopping{
    position: relative;
    text-align: right;
}
.cart .shopping img{
    width: 40px;
}

.list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 50px;
}
.list .item{
    text-align: center;
    background-color: #DCE0E1;
    padding: 20px;
    box-shadow: 0 50px 50px #757676;
    letter-spacing: 1px;
}
.list .item img{
    width: 90%;
    height: 250px;
    object-fit: cover;
}
.list .item .title{
    font-weight: 600;
}
.list .item .price{
    margin: 10px;
}
.list .item button{
    background-color: #1C1F25;
    color: #fff;
    width: 100%;
    padding: 10px;
}
.card{
    position: fixed;
    top:0;
    left: 100%;
    width: 500px;
    background-color: #eb959f;
    height: 100vh;
    transition: 0.5s;
}
.active .card{
    left: calc(100% - 500px);
}

.card h1{
    color:black;
    font-weight: 100;
    margin-top:35px;
    padding: 0 20px;
    height: 80px;
    display: flex;
}

.card .all{
    position: absolute;
    bottom: 70px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.card .all div{
    background-color: #fff1f1;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.card .CheckOut {
    position: absolute;
    background-color: #432626;
    text-decoration: none; 
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    bottom: 0;
}
.card .CheckOut a {
    text-decoration: none; 
    color: white; 

}

.card .all div:nth-child(2){
    background-color: #1C1F25;
    color: #fff;
}

.sidebar {
    margin: 0;
    padding: 0;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

.listCard li {
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: #fff;
    row-gap: 10px;
    margin-bottom: 20px; 
}

.listCard li div {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
}

.listCard li img {
    width: 90%;
    height: 100px; 
    object-fit: cover;
    margin-bottom: 10px; 
    margin-right: 5px;
}

.list .item .title {
    font-weight: 600;
    margin-bottom: 10px; 
}

.list .item .description {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
}
.listCard li button{
    background-color: #fff5;
    border: none;
}
.listCard .count{
    margin: 0 10px;
}

.all .quantity {
    /* Add your styling here */
    color: #333;
    margin: 10px 0;
}