 <label for="card_type">Card Type</label><br><br>
<input type="text" name="card_type" id="Ctype" placeholder=" Visa" required><br><br>


<label for="card_number">Card Number</label><br><br>
<input type="text" name="card_number" id="Cnum" placeholder=" 1234-5678-9123-4567" required><br><br>


<label for="expirationDate">Expiration Date (MM/YY)</label><br><br>
<input type="text" id="expirationDate" name="expirationDate" pattern="\d{2}/\d{2}" placeholder=" MM/YY" required><br><br>


<label for="security_code">CVV</label><br><br>
<input type="text" id="Scode" name="Scode" placeholder=" 223" required><br><br>


<label for="Cname">Name On Card</label><br><br>
<input type="text" id="cname" name="cardname" placeholder=" Pookie wookie" required><br><br>