<label for="card_type">Card Type:</label>
<input type="text" name="card_type" required><br>


<label for="card_number">Card Number:</label>
<input type="text" name="card_number" required><br>


<label for="expiration_date">Expiration Date:</label>
<input type="text" name="expiration_date" required><br>


<label for="security_code">Security Code:</label>
<input type="text" name="security_code" required><br>


<label for="full_name">Full Name:</label>
<input type="text" name="full_name" required><br>