<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Profiles</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="{{ url_for('inventory') }}">Inventory</a></li>
      <li><a href="{{ url_for('customerprofile') }}">Customer Profile</a></li>
      <li><a href="{{ url_for('purchase_details') }}">Purchase Details</a></li>
      <li><a href="{{ url_for('report') }}">Report</a></li>
      <li style="float: right;">Staff ID: 2468</li>
    </ul>
  </nav>
    <h1>Customer Profiles</h1>
    <a href="{{ url_for('add_customer') }}">Add Customer</a>
    <table border="1">
        <tr>
            <th>Contact</th>
            <th>Name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        {% for customer in customers %}
            <tr>
                <td>{{ customer.contact }}</td>
                <td>{{ customer.name }}</td>
                <td>{{ customer.email }}</td>
                <td>
                    <a href="{{ url_for('edit_customer', id=customer.id) }}">Edit</a>
                    <a href="{{ url_for('delete_customer', id=customer.id) }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
