
<!DOCTYPE html>
<html>
<head>
<title>Customer Profile</title>
<link rel="stylesheet" href="../static/css/inventory.css">
</head>
<body>
    
<nav>
  <ul>
    <li><a href="inventory.html">Inventory</a></li>
    <li><a href="customerprofile.html">Customer Profile</a></li>
    <li><a href="purchase_details.html">Purchase Details</a></li>
    <li><a href="report.html">Report</a></li>
    <li style="float: right;">Staff ID: 2468</li>
  </ul>
</nav>

<table>
    <thead>
      <tr>
        <th>Customer ID</th>
        <th>Contact</th>
        <th>Name</th>
        <th>Email</th>
      
      </tr>
    </thead>
    <tbody>
      <tr>
        <td >1456344D</td>
        <td>15478236</td>
        <td>Sasha</td>
        <td>sash@gmail.com</td>
      </tr>
      <tr>
        <td >1997645E</td>
        <td>88724761</td>
        <td>Tyler</td>
        <td>tyl@gmail.com</td>
        
      </tr>
      <tr>
        <td>5664398A</td>
        <td>76450337</td>
        <td>Ariana</td>
        <td>ari@gmail.com</td>
        
      </tr>
  
      </tbody>
  </table>
  
  <button style="float: right;">EDIT</button>
</body>
</html>