<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delivery Address</title>
</head>
<body>

<h1>Delivery Address</h1>

<form action="/delivery_address" method="post">
    <label for="first_name">First Name</label>
    <input type="text" id="first_name" name="first_name" required><br><br>

    <label for="last_name">Last Name   </label>
    <input type="text" id="last_name" name="last_name" required><br><br>

    <label for="street_address">Street Address   </label>
    <input type="text" id="street_address" name="street_address" required><br><br>

    <label for="address_details">Address Details   </label>
    <input type="text" id="address_details" name="address_details" required><br><br>

    <label for="city">City   </label>
    <input type="text" id="city" name="city" required><br><br>

    <label for="postal_code">Postal Code   </label>
    <input type="text" id="postal_code" name="postal_code" required><br><br>

    <label for="contact_number">Contact Number   </label>
    <input type="text" id="contact_number" name="contact_number" required><br><br>
    <button onclick="document.location='http://127.0.0.1:5000/payment'">Proceed To Payment</button>
</form>

</body>
</html>
