<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>ECOBEAUTY</title>
</head>

<body>
    <header class="bar">
        <div class="container">
            <nav class="left-nav">
                <a href="{{ url_for('home') }}">Home</a>
                <a href="{{ url_for('signup') }}">Sign Up</a>
                    {% if user_name %}
                        <a href="{{ url_for('profile') }}">Profile</a>
                        <a href="{{ url_for('logout') }}">Logout</a>
                    {% else %}
                        <a href="{{ url_for('signup') }}">Log In / Sign Up</a>
                    {% endif %}
            </nav>
            <div class="menu" id="menu">
                <i class="fas fa-bars"></i>
                <div class="sub-menu">
                  <a href="{{ url_for('product') }}" class="current">Products</a>
                  <a href="{{ url_for('chatbot') }}">Chatbot</a>
                </div>
            </div>

            <div class="cart">
                <div class="shopping">
                    <img src="{{ url_for('static', filename='photo/shopping.svg') }}">
                </div>
            </div>
            <div class="list"></div>
        </div>


        <div class="card">
            <h1>Your Shopping Cart</h1>
            <div class="sidebar">
            <ul class="listCard"></ul>
            </div>
            <div class="all">
                <div class="total">0</div>
                <div class="closeShopping" style="background-color: #FAB3A9;">Close</div>
            </div>
            <div class="CheckOut"><a href="{{ url_for('checkout') }}">Check Out</a></div>
        </div>
    </header>
    
    <script src="{{ url_for('static', filename='java/header.js') }}"></script>
</body>
</html>
