<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop Inventory</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="{{ url_for('inventory') }}">Inventory</a></li>
      <li><a href="{{ url_for('customerprofile') }}">Customer Profile</a></li>
      <li><a href="{{ url_for('purchase_details') }}">Purchase Details</a></li>
      <li><a href="{{ url_for('report') }}">Report</a></li>
      <li style="float: right;">Staff ID: 2468</li>
    </ul>
  </nav>
    <h1>Shop Inventory</h1>
    <a href="{{ url_for('add_product') }}">Add Product</a>
    <table border="1">
        <tr>
            <th>Product Name</th>
            <th>Price</th>
            <th>Stocks</th>
            <th>Description</th>
            <th>Points</th>
            <th>Action</th>
        </tr>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.stocks }}</td>
                <td>{{ product.description or 'N/A' }}</td>
                <td>{{ product.points or 'N/A' }}</td>
                <td>
                    <a href="{{ url_for('edit_product', id=product.id) }}">Edit</a>
                    <a href="{{ url_for('delete_product', id=product.id) }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
