
<!DOCTYPE html>
<html>
<head>
<title>Inventory Page</title>
<link rel="stylesheet" href="../static/css/inventory.css">
</head>
<body>
    
<nav>
  <ul>
    <li><a href="inventory.html">Inventory</a></li>
    <li><a href="customerprofile.html">Customer Profile</a></li>
    <li><a href="purchase_details.html">Purchase Details</a></li>
    <li><a href="report.html">Report</a></li>
    <li style="float: right;">Staff ID: 45679</li>
  </ul>
</nav>

<button>ADD NEW PRODUCT</button>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Product</th>
      <th>Price</th>
      <th>Stocks</th>
      <th>Description</th>
      <th>Points</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="text-align: center;"><img src="../static/photo/SkinCare/Moisturizer/LimeWire AI Studio Asset (2).jpg" alt="" style="width:128px;height:128px;"></td>
      <td>Moisturiser</td>
      <td>$32</td>
      <td>9000</td>
      <td>xxxxxxxx</td>
      <td>40</td>
      <td style="text-align: center;"><img src="../static/photo/inventory/189690.png" style="width:35px;height: 35px;"> </td>
    </tr>
    <tr>
      <td style="text-align: center;"><img src="../static/photo/SkinCare/Serum/LimeWire AI Studio Asset (3).jpg" style="width:128px;height:128px;"></td>
      <td>Serum</td>
      <td>$49</td>
      <td>1200</td>
      <td>xxxxxxxx</td>
      <td>40</td>
      <td style="text-align: center;"><img src="../static/photo/inventory/189690.png" style="width:35px;height: 35px;"></td>
    </tr>
    <tr>
      <td style="text-align: center;"><img src="../static/photo/MakeUp/Lips/LimeWire AI Studio Asset (4).jpg" style="width:128px;height:128px;"></td>
      <td>Lip Balm</td>
      <td>$18</td>
      <td>9800</td>
      <td>xxxxxxxx</td>
      <td>20</td>
      <td style="text-align: center;"><img src="../static/photo/inventory/189690.png" style="width:35px;height: 35px;"></td>
    </tr>

    </tbody>
</table>

<button style="float: right;">EDIT</button>
</body>
</html>