<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha384-dfPRVfkOuUnYfu1iu4FoHgoL9otJ7y8tOMuEXsXB6geNZU+qGQFA/iSTmMA6jNbI" crossorigin="anonymous">
    <title>Payment Page</title>
</head>
<body>
    <h1>Payment</h1>
        <label for="payment_option"><h2>Payment Option</h2></label>
        <div>
            <input type="radio" name="payment_option" value="1" checked> Credit Card
            <input type="radio" name="payment_option" value="2"> Google Pay
            <input type="radio" name="payment_option" value="3"> PayNow
        </div><br>

        <div id="payment_option_details">
            {% include 'credit_card.html' %}
        </div>


        <a href="thank_you">
            <input type="button" value="Submit" />
         </a>
    </form>


    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var radioButtons = document.getElementsByName("payment_option");


            for (var i = 0; i < radioButtons.length; i++) {
                radioButtons[i].addEventListener("change", function () {
                    showPaymentOption();
                });
            }
        });


        function showPaymentOption() {
            var selectedOption = document.querySelector('input[name="payment_option"]:checked').value;
            var paymentOptionDetails = document.getElementById("payment_option_details");


            switch (selectedOption) {
                case "1":
                    paymentOptionDetails.innerHTML = `{% include 'credit_card.html' %}`;
                    break;
                case "2":
                    paymentOptionDetails.innerHTML = `{% include 'google_pay.html' %}`;
                    break;
                case "3":
                    paymentOptionDetails.innerHTML = `{% include 'pay_now.html' %}`;
                    break;
                default:
                    break;
            }
        }
    </script>
</body>
</html>
