<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Page</title>
</head>
<body>
    <h1>Payment Page</h1>
    <form method="post" action="/payment">
        <label for="payment_id">Payment ID:</label>
        <input type="text" name="payment_id" required><br>


        <label for="order_id">Order ID:</label>
        <input type="text" name="order_id" required><br>


        <label for="payment_datetime">Payment DateTime:</label>
        <input type="text" name="payment_datetime" required><br>


        <label for="amount">Amount:</label>
        <input type="text" name="amount" required><br>


        <label for="customer_id">Customer ID:</label>
        <input type="text" name="customer_id" required><br>


        <label for="payment_option">Payment Option:</label>
        <div>
            <input type="radio" name="payment_option" value="1" checked> Credit Card
            <input type="radio" name="payment_option" value="2"> Google Pay
            <input type="radio" name="payment_option" value="3"> PayNow
        </div><br>


        <label for="payment_option_id">Payment Option ID:</label>
        <input type="text" name="payment_option_id" required><br>


        <div id="payment_option_details">
            {% include 'credit_card.html' %}
        </div>


        <input type="submit" value="Submit Payment">
    </form>


    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var radioButtons = document.getElementsByName("payment_option");


            for (var i = 0; i < radioButtons.length; i++) {
                radioButtons[i].addEventListener("change", function () {
                    showPaymentOption();
                });
            }
        });


        function showPaymentOption() {
            var selectedOption = document.querySelector('input[name="payment_option"]:checked').value;
            var paymentOptionDetails = document.getElementById("payment_option_details");


            switch (selectedOption) {
                case "1":
                    paymentOptionDetails.innerHTML = `{% include 'credit_card.html' %}`;
                    break;
                case "2":
                    paymentOptionDetails.innerHTML = `{% include 'google_pay.html' %}`;
                    break;
                case "3":
                    paymentOptionDetails.innerHTML = `{% include 'pay_now.html' %}`;
                    break;
                default:
                    break;
            }
        }
    </script>
</body>
</html>
