<html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<link rel="stylesheet" href="../static/css/report.css">
<body>
    <nav>
        <ul>
          <li><a href="inventory.html">Inventory</a></li>
          <li><a href="customerprofile.html">Customer Profile</a></li>
          <li><a href="purchase_details.html">Purchase Details</a></li>
          <li><a href="report.html">Report</a></li>
          <li style="float: right;">Staff ID: 2468</li>
        </ul>
      </nav>
      <h2>TOTAL SALES FOR</h2>
      <div class="dropdown">
        <button>Year | 2023</button>
        <div class="dropdown-content">
        <a href="../templates/report.html">2023</a>
        <a href="../templates/report2.html">2022</a>
        
        </div>
      </div>
<canvas id="myChart" style="width:100%;max-width:600px"></canvas>

<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line', // Specify the chart type as 'line'
        data: {
            labels: ["January", "February", "March","April","May","June","July","August","September","October","November","December" /* ... */], // X-axis labels (months)
            datasets: [{
                label: 'Sales in thousands',
                data: [32,34.5,32.6,35,36,34.5,34,37,35,38.5,35 /* ... */], // Data points
                backgroundColor: 'rgba(255, 99, 132, 0.2)', // Optional background color
                borderColor: 'rgba(255, 99, 132, 1)', // Line color
                borderWidth: 1 // Line width
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>


</body>
</html>